<div class="container">

  <table class="bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <% @creatures.each do |creature| %>
      <tr>
        <td><%= creature.name %></td>
        <td><i><%= creature.description %></i></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
